{
    "extends": "eslint:recommended",
    "env": {
        "browser": true,
        "es6": true,
        "commonjs": true,
        "amd": true,
        "mocha": true
    },
    "ecmaFeatures": {
        "modules": true,
        "classes": true
    },
    "rules": {

    }
}